<div class="navigation">
    <div class="logo">
        <img id="logo" src="https://t3.ftcdn.net/jpg/04/15/95/38/360_F_415953832_AoNskhRld6iY0t8T4edxddubki966Ek7.jpg" alt="logo">
        <h3> <b>Movieshub</b> </h3>
  <div class="profile">
    <div class="dropdown">
        <button class="dropbtn" > <i class="fa fa-bars" aria-hidden="true" style="font-size: 26px;"></i></button>
        <div class="dropdown-content">
          <a href="#" id="btn1"><button class="btn btn-success" >Profile</button></a>
          <a href="#" id="btn2"><button class="btn btn-dark" >
            <i class="fa fa-cog fa-spin fa-2x fa-fw"></i><h6>Settings</h6>
            <span class="sr-only">Loading...</span>
          </button></a>
          <a href="#"><button class="btn btn-warning">About</button></a>
          <a href="#"><button class="btn btn-">Careers</button></a>
          <a href="#"><button class="btn btn-danger">Logout</button></a>
         <div class="connect">
             <p>connect with us</p>
            <span class="social"><a href="#"><button class="btn btn-primary"><i class="fab fa-facebook"></i></button></a> </span>
            <span class="social">    <a href="#"><button class="btn btn-light"><i class="fab fa-google"></i></button></a></span>
            <span class="social">    <a href="#"><button class="btn btn-primary"><i class="fab fa-twitter-square"></i></button></a></span>
         </div>       
         
       
 
         
        </div>
      </div>
      
  </div>
    </div>
    <div class="header">
        <a routerLink="">Home </a> |
        <a routerLink="login">Login </a>|
        <a routerLink="about">About </a>|
        <a routerLink="contact">Contact </a>
      
    </div>
  

    
   
</div>
<div class="col-md-8 col-sm-6 col-xs-12" >
    <input type="text" id="box" placeholder="Search here.." class="search__box">
    <button id="search"><i class="fa fa-search"></i></button>
    
</div>


