@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);


h3{
    color: white;
    /* border: 2px solid white; */
    margin-top: 5em;
    /* box-shadow:2px 2px 10px white; */
 
}
tr{
   /* background-color: blue;  */
  /* display: inline-block; */
  margin:3%;
  margin-left: 3em;
 
  /* height: 20rem; */
}
.body{
    background-color: black;
}
#image{
    float:right;
    position: absolute;
    top:10em;
    right:1em;
    width: 40%;
}
.card{
    margin-left: 2em;
    margin-top:5em;
    margin-bottom: 5em;
    margin-right: 2em;
border: 2px solid black;
    height:auto; 
 background-color: rgb(0, 0, 0);
 
}
.links{
    padding: 15px;

}
a{
    border:2px solid black;
    padding: 15px;
    margin: 10px;
}
.card:hover{
    /* transform: scale(1.1);  */
color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey; 
}

.card:hover #imdb{
    color:yellow
}
.card:hover #year{
    color:red
}
.card:hover .card-title{
   color: rgb(255, 255, 255);
}





