<div class="body">
<tr> 
<div class="card"    >
      <img src="{{m.Poster}}" style="height: 20em;width:100%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{m.Title}}</h5>
        <br>
        <p class="card-text" id="year">YEAR:{{m.Year}}</p>
        <h6 class="card-text" id="imdb" >IMDBId:{{id}} </h6>
        <br>
       <span class="links">
        <a routerLink="" class="btn btn-primary" > Watch now</a>
        <a routerLink="" class="btn btn-danger" > <i class="fas fa-heart"></i></a>
        <a routerLink="" class="btn btn-success" ><i class="fas fa-comment"></i></a>
        <a routerLink="" class="btn btn-warning" >Rate it!</a>
       </span> 
        <br>
      </div>
    </div>
  </tr>
</div>
